* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { 
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  /* -webkit-user-select: none;                  prevent copy paste, to allow, change 'none' to 'text' */
  font-family: "regular", sans-serif;
  font-size: 12px;
  text-rendering: optimizeLegibility;
}

.removepadding {
	padding-left: 0;
}

dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  max-width: 40em;
}

#dialogcontentcontainer {
  display: flex;
}

#dialogicon {
  margin-right: 0.5em;
  font-size: 2em;
}